 .contenedor{

     width: 100%;
     height: 1200px;
     background-color: aqua;
     display: flex;
     flex-direction: column;
     text-align: center;

 }

 .encabezado{
     width: 100%;
     height: 200px;
     background-color: bisque;
     font-size: 40px;
 }
 .matematicas{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
}
.tecnologia{
    height: 300px;
    background-color: aliceblue;
    font-size: 30px;
}


.quimica{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
.ingles{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.biologia{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
}